[user]
    name = kjnam
    email = kyujnam@gmail.com
[color]
    status = auto
    branch = auto
    diff = auto
    ui = auto
[color "diff"]
    meta = yellow bold
    ifrag = magenta bold
    whitespace = red reverse
[alias]
    s = status
    st = status -sb
    b = branch
    co = commit
    f = "!git ls-files | grep -i" 
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

    # @link https://gist.github.com/gnarf/5406589
    pr = "!f() { git fetch -fu ${2:upstream} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
    pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
